.DS_Store
.idea
.happypack
.babel-cache
.jest-cache
.jest-coverage
node_modules
/server
/dist
/src/assets/i18n/generated/data/*.js
/src/assets/i18n/generated/messages/*.json
/src/assets/i18n/generated/messages/*.js
.*.sw?
/.aws_creds
/codeship.aes
/cypress/screenshots